.collectionForm {
    text-align: center;
}

.form-group label {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 1px;
    color: rgb(110, 140, 250);
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
}

.form-group input {
    height: 70px;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
}

#collection-button {
    letter-spacing: 2px;
}