.collectionForm {
    text-align: center;
}

#collection-title {
    text-transform: uppercase;
    font-size: 28px;
    font-family: monospace;
    letter-spacing: 2px;
    color: rgb(216, 223, 250);
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

.form-group input {
    height: 70px;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
}

#collection-button {
    letter-spacing: 2px;
}