.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
    height: 100vh;
    display:flex;
    background-image: linear-gradient(to bottom right, rgb(250, 40, 125), rgb(80, 20, 255), rgb(250, 40, 125));
}

#collectionForm {
    background-image: linear-gradient(to bottom right, rgb(250, 40, 125), rgb(80, 20, 255));
}

#flashcardForm {
    background-image: linear-gradient(to top right, rgb(250, 40, 125), rgb(80, 20, 255));
}

.nav-wrapper {
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    border-top-right-radius: 6px;
    box-shadow: 4px 4px 10px rgb(60, 60, 60);
}

.flashcard-display-wrapper {
    overflow-y: scroll;
    width: 100vw;
    display: flex;
    justify-content: left;
}

.collection-form-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashcard-form-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.edit-flashcard-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .card-front {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    border: 2px outset rgb(115, 82, 233);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 9px 8px 10px rgb(42, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    border: 2px outset rgb(115, 82, 233);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 9px 8px 10px rgb(42, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
} */

